<div class ="container">
  <div class="row experience-head">
    <div class="col-xs-7">
      <h4><%= truncate(@name, length: 40) %></h4>
    </div>

    <div class="col-xs-5">
      <ul class="exp-pricing text-right">
        <li><h5><%=@price %></h5></li>
        <li><h5><%= image_tag "emirates-currency.png", class: "em-currency" %><%= @miles %></h5></li>
      </ul>
    </div>
  </div>

  <div id="imageAndDesc" >
    <div class="row">
      <div class="col-xs-12">
        <%= image_tag "#{@image}",class: "img-rounded img-responsive" %>
      </div>
    </div>

    <div class="exp-desc row">
      <div class="col-xs-12">
        <%=@desc %>
      </div>
    </div>
  </div>
</div>