<div class ="container">
  <div class="row experience-head">
    <div class="col-xs-7">
      <h4><%= @name %></h4>
    </div>

    <div class="col-xs-5">
      <ul class="exp-pricing text-right">
        <li><h5><%=@price %></h5></li>
        <li><h5><%= image_tag "emirates-currency.png", class: "em-currency" %><%= @miles %></h5></li>
      </ul>
    </div>
  </div>

  
  <div class="row">
    <div class="col-xs-12">
      <%= image_tag "#{@image}",class: "img-rounded img-responsive" %>
    </div>
  </div>

  <div class="exp-desc row">
    <div class="col-xs-12">
      <%= truncate(@desc, length: 205) %> <a href="#" > read more </a>
    </div>
  </div>
</div>