<div class ="container">
  <div class="row experience-head">
    <div class="col-xs-7">
      <span id="nameContainer"><h4><%= @name %></h4></span>
    </div>

    <div class="col-xs-5">
      <ul class="exp-pricing text-right">
        <li><h5><%=@price %></h5></li>
        <li><a href='http://www.emirates.com/skywards', class='white_link', target='_blank', style='color: #9e867b'><h5><%= image_tag "emirates-currency.png", class: "em-currency" %><b><%= @miles %></b></h5></a></li>
      </ul>
    </div>
  </div>

  <div id="imageAndDesc" >
    <div class="row">
      <div class="col-xs-12">
        <%= image_tag "#{@image}",class: "img-rounded img-responsive" %>
      </div>
    </div>
  <div class="exp-desc row">
    <div class="col-xs-12">
      <%= truncate(@desc, length: 205) %> <a href="#" > read more </a>
    </div>
  </div>
</div>