
<%= form_tag({controller: 'api/adventures', action: 'update'}, method: 'post', remote: true, role: 'form', id: 'shakeForm') do %>
  
  <div class ="form-group location text-center">
    <h4>Where are you located?</h4>

    <%= text_field_tag 'location', nil, class: "form-control location-input text-center", placeholder: "City, Country (ex: San Francisco, USA)" %>
  </div> 

  <div class="filter hide">
  <div class="form-group" id="category-select">
    <div class="checkbox">
      <i class="icon-sun"></i>
      <%= label_tag :sports, 'Sports & Outdoors' %>
      <%= check_box_tag 'category[sports_outdoors]', 'SPORTS_OUTDOORS', true %>
    </div>

    <div class="checkbox">
      <i class="icon-male"></i>
      <%= label_tag :luxury, 'Luxury & Exotic' %>
      <%= check_box_tag 'category[luxury_exotic]', 'LUXURY_EXOTIC', true %>
    </div>

    <div class="checkbox">
      <i class="icon-eye-open"></i>
      <%= label_tag :sightseeing, 'Sightseeing & Tours' %>
      <%= check_box_tag 'category[sightseeing_tours]', 'SIGHTSEEING_TOURS', true %>
    </div>

    <div class="checkbox">
      <i class="icon-beer"></i>
      <%= label_tag :cultural, 'Cultural & Urban' %>
      <%= check_box_tag 'category[cultural_urban]', 'CULTURAL_URBAN', true %>
    </div>
  </div>

  <div class="form-group">
    <div id='slider-range'></div>
    <%= text_field_tag 'duration', nil, class: "form-control", id: 'duration',:readonly => true %>
  </div>

  <div class="form-group">
    <div class="filterField">
      <div id='slider'></div>
      <%= text_field_tag 'slider', nil, class: 'form-control', id: 'price_range',:readonly => true %>
    </div>
  </div>
</div>

  <a class='buy btn btn-success btn-default hide btn-sv'>Book Now!</a>
  <br>
  <%= submit_tag nil, :class => 'btn btn-success btn-sv locationForm', :id => 'shakeFormBtn', :value => "Next" %>
<% end %>
