<%= form_tag({controller: 'api/adventures', action: 'show'}, method: 'get', class: '#') do %>
  <p>Where are you located?</p>
  <%= label_tag :city, 'City' %>
  <%= text_field_tag 'city', @values['city'] %>

  <%= label_tag :country, 'Country' %>
  <%= text_field_tag 'country', @values['country'] %>
  <br/>

  <%= label_tag :price_range, 'Choose a price range:' %>
  <%= text_field_tag 'price_range', @values['price_range'] %>

  <p>Choose a Category:</p>
  <%= label_tag :sports, 'Sports & Outdoors' %>
  <%= check_box_tag 'category["sports_outdoors"]', 'SPORTS_OUTDOORS', true%>
  
  <%= label_tag :luxury, 'Luxury & Exotic' %>
  <%= check_box_tag 'category["luxury_exotic"]', 'LUXURY_EXOTIC', true %>
  
  <%= label_tag :sightseeing, 'Sightseeing & Tours' %>
  <%= check_box_tag 'category["sightseeing_tours"]', 'SIGHTSEEING_TOURS', true %>
  
  <%= label_tag :cultural, 'Cultural & Urban' %>
  <%= check_box_tag 'category["cultural_urban"]', 'CULTURAL_URBAN', true %>
  <br/>

  <%= label_tag :duration, 'Choose a time range:' %>
  <%= text_field_tag 'duration', @values['duration'] %>
<% end %>