<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <title>Shakeventure</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render :partial => "layouts/shared/header" %>
  <br><br><br><br>

  <%= yield %>

  <%= render :partial => "layouts/shared/footer" %>

</body>
</html>
